.git
.env
!.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
!storage/.gitkeep
bootstrap/cache/*
!bootstrap/cache/.gitkeep
tests/
doc/
*.md
!README.md
.editorconfig
.eslintrc
.prettierrc
phpunit.xml
